<!DOCTYPE html>
<html class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Chess</title>
        <meta name="description" content="Chess app">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="css/core.css">
        <link rel="stylesheet" href="css/style.css">

        <style>

        	input:focus,
			select:focus,
			textarea:focus,
			button:focus {
			    outline: none !important;
			}

        	#allPosts {
			    resize: none;
			    font-size: 12px;
			    border-radius: 5px;
			    border: #ccc solid 1px;
			    line-height: 14px;
			    height:100px;
			    overflow: scroll;
			}

			p{
		    	margin:0;
		    	padding:0;
		    }

		</style>
    </head>
    <body>

    <table class="board">
        <tr id="lettersRowTop">
            <td class=""></td>
            <td class="">a</td>
            <td class="">b</td>
            <td class="">c</td>
            <td class="">d</td>
            <td class="">e</td>
            <td class="">f</td>
            <td class="">g</td>
            <td class="">h</td>
            <td class=""></td>
        </tr>
        <tr>
            <td class="" id="numbersColumnLeft">8</td>
            <td class="" id="a8" ondrop="drop(event)" ondragover="allowDrop(event)"><img class="rook"   id="BR1"  draggable="true" ondragstart="drag(event)" src="img/Black R.ico"/></td>
            <td class="" id="b8" ondrop="drop(event)" ondragover="allowDrop(event)"><img class="knight" id="BN1"  draggable="true" ondragstart="drag(event)" src="img/Black N.ico"/></td>
            <td class="" id="c8" ondrop="drop(event)" ondragover="allowDrop(event)"><img class="bishop" id="BB1"  draggable="true" ondragstart="drag(event)" src="img/Black B.ico"/></td>
            <td class="" id="d8" ondrop="drop(event)" ondragover="allowDrop(event)"><img class="king"   id="BK1"  draggable="true" ondragstart="drag(event)" src="img/Black K.ico"/></td>
            <td class="" id="e8" ondrop="drop(event)" ondragover="allowDrop(event)"><img class="queen"  id="BQ1"  draggable="true" ondragstart="drag(event)" src="img/Black Q.ico"/></td>
            <td class="" id="f8" ondrop="drop(event)" ondragover="allowDrop(event)"><img class="bishop" id="BB2"  draggable="true" ondragstart="drag(event)" src="img/Black B.ico"/></td>
            <td class="" id="g8" ondrop="drop(event)" ondragover="allowDrop(event)"><img class="knight" id="BN2"  draggable="true" ondragstart="drag(event)" src="img/Black N.ico"/></td>
            <td class="" id="h8" ondrop="drop(event)" ondragover="allowDrop(event)"><img class="rook"   id="BR2"  draggable="true" ondragstart="drag(event)" src="img/Black R.ico"/></td>
            <td class="" id="numbersColumnRight">8</td>
        </tr>
        <tr>
            <td class="" id="numbersColumnLeft">7</td>
            <td class="" id="a7" ondrop="drop(event)" ondragover="allowDrop(event)"><img class="pawn" id="BP1" draggable="true" ondragstart="drag(event)" src="img/Black P.ico"/></td>
            <td class="" id="b7" ondrop="drop(event)" ondragover="allowDrop(event)"><img class="pawn" id="BP2" draggable="true" ondragstart="drag(event)" src="img/Black P.ico"/></td>
            <td class="" id="c7" ondrop="drop(event)" ondragover="allowDrop(event)"><img class="pawn" id="BP3" draggable="true" ondragstart="drag(event)" src="img/Black P.ico"/></td>
            <td class="" id="d7" ondrop="drop(event)" ondragover="allowDrop(event)"><img class="pawn" id="BP4" draggable="true" ondragstart="drag(event)" src="img/Black P.ico"/></td>
            <td class="" id="e7" ondrop="drop(event)" ondragover="allowDrop(event)"><img class="pawn" id="BP5" draggable="true" ondragstart="drag(event)" src="img/Black P.ico"/></td>
            <td class="" id="f7" ondrop="drop(event)" ondragover="allowDrop(event)"><img class="pawn" id="BP6" draggable="true" ondragstart="drag(event)" src="img/Black P.ico"/></td>
            <td class="" id="g7" ondrop="drop(event)" ondragover="allowDrop(event)"><img class="pawn" id="BP7" draggable="true" ondragstart="drag(event)" src="img/Black P.ico"/></td>
            <td class="" id="h7" ondrop="drop(event)" ondragover="allowDrop(event)"><img class="pawn" id="BP8" draggable="true" ondragstart="drag(event)" src="img/Black P.ico"/></td>
            <td class="" id="numbersColumnRight">7</td>
        </tr>
        <tr>
            <td class="" id="numbersColumnLeft">6</td>
            <td class="" id="a6" ondrop="drop(event)" ondragover="allowDrop(event)"></td>
            <td class="" id="b6" ondrop="drop(event)" ondragover="allowDrop(event)"></td>
            <td class="" id="c6" ondrop="drop(event)" ondragover="allowDrop(event)"></td>
            <td class="" id="d6" ondrop="drop(event)" ondragover="allowDrop(event)"></td>
            <td class="" id="e6" ondrop="drop(event)" ondragover="allowDrop(event)"></td>
            <td class="" id="f6" ondrop="drop(event)" ondragover="allowDrop(event)"></td>
            <td class="" id="g6" ondrop="drop(event)" ondragover="allowDrop(event)"></td>
            <td class="" id="h6" ondrop="drop(event)" ondragover="allowDrop(event)"></td>
            <td class="" id="numbersColumnRight">6</td>
        </tr>
        <tr>
            <td class="" id="numbersColumnLeft">5</td>
            <td class="" id="a5" ondrop="drop(event)" ondragover="allowDrop(event)"></td>
            <td class="" id="b5" ondrop="drop(event)" ondragover="allowDrop(event)"></td>
            <td class="" id="c5" ondrop="drop(event)" ondragover="allowDrop(event)"></td>
            <td class="" id="d5" ondrop="drop(event)" ondragover="allowDrop(event)"></td>
            <td class="" id="e5" ondrop="drop(event)" ondragover="allowDrop(event)"></td>
            <td class="" id="f5" ondrop="drop(event)" ondragover="allowDrop(event)"></td>
            <td class="" id="g5" ondrop="drop(event)" ondragover="allowDrop(event)"></td>
            <td class="" id="h5" ondrop="drop(event)" ondragover="allowDrop(event)"></td>
            <td class="" id="numbersColumnRight">5</td>
        </tr>
        <tr>
            <td class="" id="numbersColumnLeft">4</td>
            <td class="" id="a4" ondrop="drop(event)" ondragover="allowDrop(event)"></td>
            <td class="" id="b4" ondrop="drop(event)" ondragover="allowDrop(event)"></td>
            <td class="" id="c4" ondrop="drop(event)" ondragover="allowDrop(event)"></td>
            <td class="" id="d4" ondrop="drop(event)" ondragover="allowDrop(event)"></td>
            <td class="" id="e4" ondrop="drop(event)" ondragover="allowDrop(event)"></td>
            <td class="" id="f4" ondrop="drop(event)" ondragover="allowDrop(event)"></td>
            <td class="" id="g4" ondrop="drop(event)" ondragover="allowDrop(event)"></td>
            <td class="" id="h4" ondrop="drop(event)" ondragover="allowDrop(event)"></td>
            <td class="" id="numbersColumnRight">4</td>
        </tr>
        <tr>
            <td class="" id="numbersColumnLeft">3</td>
            <td class="" id="a3" ondrop="drop(event)" ondragover="allowDrop(event)"></td>
            <td class="" id="b3" ondrop="drop(event)" ondragover="allowDrop(event)"></td>
            <td class="" id="c3" ondrop="drop(event)" ondragover="allowDrop(event)"></td>
            <td class="" id="d3" ondrop="drop(event)" ondragover="allowDrop(event)"></td>
            <td class="" id="e3" ondrop="drop(event)" ondragover="allowDrop(event)"></td>
            <td class="" id="f3" ondrop="drop(event)" ondragover="allowDrop(event)"></td>
            <td class="" id="g3" ondrop="drop(event)" ondragover="allowDrop(event)"></td>
            <td class="" id="h3" ondrop="drop(event)" ondragover="allowDrop(event)"></td>
            <td class="" id="numbersColumnRight">3</td>
        </tr>
        <tr>
            <td class="" id="numbersColumnLeft">2</td>
            <td class="" id="a2" ondrop="drop(event)" ondragover="allowDrop(event)"><img class="pawn" id="WP1" draggable="true" ondragstart="drag(event)" src="img/White P.ico"/></td>
            <td class="" id="b2" ondrop="drop(event)" ondragover="allowDrop(event)"><img class="pawn" id="WP2" draggable="true" ondragstart="drag(event)" src="img/White P.ico"/></td>
            <td class="" id="c2" ondrop="drop(event)" ondragover="allowDrop(event)"><img class="pawn" id="WP3" draggable="true" ondragstart="drag(event)" src="img/White P.ico"/></td>
            <td class="" id="d2" ondrop="drop(event)" ondragover="allowDrop(event)"><img class="pawn" id="WP4" draggable="true" ondragstart="drag(event)" src="img/White P.ico"/></td>
            <td class="" id="e2" ondrop="drop(event)" ondragover="allowDrop(event)"><img class="pawn" id="WP5" draggable="true" ondragstart="drag(event)" src="img/White P.ico"/></td>
            <td class="" id="f2" ondrop="drop(event)" ondragover="allowDrop(event)"><img class="pawn" id="WP6" draggable="true" ondragstart="drag(event)" src="img/White P.ico"/></td>
            <td class="" id="g2" ondrop="drop(event)" ondragover="allowDrop(event)"><img class="pawn" id="WP7" draggable="true" ondragstart="drag(event)" src="img/White P.ico"/></td>
            <td class="" id="h2" ondrop="drop(event)" ondragover="allowDrop(event)"><img class="pawn" id="WP8" draggable="true" ondragstart="drag(event)" src="img/White P.ico"/></td>
            <td class="" id="numbersColumnRight">2</td>
        </tr>
        <tr>
            <td class="" id="numbersColumnLeft">1</td>
            <td class="" id="a1" ondrop="drop(event)" ondragover="allowDrop(event)"><img class="rook"   id="WR1" draggable="true" ondragstart="drag(event)" src="img/White R.ico"/></td>
            <td class="" id="b1" ondrop="drop(event)" ondragover="allowDrop(event)"><img class="knight" id="WN1" draggable="true" ondragstart="drag(event)" src="img/White N.ico"/></td>
            <td class="" id="c1" ondrop="drop(event)" ondragover="allowDrop(event)"><img class="bishop" id="WB1" draggable="true" ondragstart="drag(event)" src="img/White B.ico"/></td>
            <td class="" id="d1" ondrop="drop(event)" ondragover="allowDrop(event)"><img class="king"   id="WK1" draggable="true" ondragstart="drag(event)" src="img/White K.ico"/></td>
            <td class="" id="e1" ondrop="drop(event)" ondragover="allowDrop(event)"><img class="queen"  id="WQ1" draggable="true" ondragstart="drag(event)" src="img/White Q.ico"/></td>
            <td class="" id="f1" ondrop="drop(event)" ondragover="allowDrop(event)"><img class="bishop" id="WB2" draggable="true" ondragstart="drag(event)" src="img/White B.ico"/></td>
            <td class="" id="g1" ondrop="drop(event)" ondragover="allowDrop(event)"><img class="knight" id="WN2" draggable="true" ondragstart="drag(event)" src="img/White N.ico"/></td>
            <td class="" id="h1" ondrop="drop(event)" ondragover="allowDrop(event)"><img class="rook"   id="WR2" draggable="true" ondragstart="drag(event)" src="img/White R.ico"/></td>
            <td class="" id="numbersColumnRight">1</td>
        </tr>
        <tr id="lettersRowBottom">
            <td class=""></td>
            <td class="">a</td>
            <td class="">b</td>
            <td class="">c</td>
            <td class="">d</td>
            <td class="">e</td>
            <td class="">f</td>
            <td class="">g</td>
            <td class="">h</td>
            <td class=""></td>
        </tr>
    </table>
    
    <!-- jQuery --> 
	<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
	<script>window.jQuery || document.write('<script src="public/bower_components/jQuery/jquery.min.js"><\/script>')</script>

    <!-- socket.io -->
    <script src="/socket.io/socket.io.js"></script>

	<!-- APP CODE -->
	<script src="js/app.min.js"></script>

	<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
    <script>
        (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
        function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
        e=o.createElement(i);r=o.getElementsByTagName(i)[0];
        e.src='//www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
        ga('create','UA-XXXXX-X');ga('send','pageview');
    </script>
    </body>
</html>